/*
Common
**********************/

html,
body {
    height: 100%;
    display: block;
}

.content {
    max-width: 600px;
    margin: 0 auto;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
}

.main {
    width: 100%;
    max-width: 600px;
    border-left: 2px solid rgb(235, 238, 240);
    border-right: 2px solid rgb(235, 238, 240);
    border-bottom: 1px solid #ccc;
}

.main .main-header {
    display: flex;
    justify-content: left;
    align-items: center;
}

.main .main-header .logo {
    width: 50px;
    margin-right: 20px;
}

.main .main-header h1 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
    font-weight: bold;
}

section {
    display: block;
}


/*
post
**********************/

.post_form {
    padding: 20px 40px;
    border-bottom: 2px solid #ccc;
    /* width: 100% 80px; */
    flex-grow: 1;
}

.post_for {
    padding: 20px 40px;
    border-bottom: 2px solid #ccc;
    /* width: 100% 80px; */
    flex-grow: 1;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
}

.bottom-area .btn {
    margin-top: 10px;
}

.post_form input {
    border: 0px;
    width: 100%;
    background: #e6fef7;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.post_for input {
    border: 0px;
    width: 100%;
    background: #e6fef7;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.post_form textarea {
    border: 0px;
    width: 100%;
    height: 100px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.post_for .texted {
    border: 0px;
    width: 100%;
    height: 100px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.posts ul {
    padding: 0;
}

.posts li .logo {
    width: 80px;
    padding: 5px 15px 10px 10px;
}

.posts li {
    position: relative;
    display: flex;
    border-bottom: 2px solid #ccc;
    padding: 20px 40px;
    list-style: none;
}

.posts li .menu_icon {
    width: 20px;
    position: absolute;
    right: 30px;
    top: 10px;
}

.post li .logo {
    flex-basis: 15%;
}

.posts li .menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 15px;
    background-color: white;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 3px;
}

.posts li .menu a {
    text-decoration: none;
}

.posts li .logo img {
    width: 60%;
}
.posts img{
    max-width:100%;
}

.posts li .name_body {
    flex-basis: 85%;
}

.post li .name_body .name {
    font-weight: bold;
}

.post li .name_body .datetime {
    color: gray;
}

.main {
    text-align: left;
}

.main {
    width: 100%;
    max-width: 600px;
    border-left: 1px solid rgb(235, 238, 240);
    border-right: 1px solid rgb(235, 238, 240);
}

.main .main-header h1 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
    font-weight: bold;
}

.main .main-header {
    padding: 10px;
    border-bottom: 1px solid rgb(235, 238, 240);
}

.main .main-header {
    display: flex;
    justify-content: left;
    align-items: center;
}

.main .main-header .logo {
    width: 50px;
    margin-right: 20px;
}

form {
    display: block;
    margin-top: 0em;
}

@media screen and (max-width: 500px) {
    .posts li .name_body .name {
        font-size: 20px;
    }
}
